.nav{
    background: #f3d557;
}

.nav a:hover{
    background-color: aliceblue;
}

.nav input[type=text]{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    width: 200%;
    height: 25px;
    font-family: Lato;
}

.searchbox input{
    display: block;
    width: 100%;
}

.searchbox button{
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 46px;
    right: 180px;
}

.tablerow{
    width: 100%;
}

.tablerow td{
    font-family: Lato;
    padding-right: 20px;
}

.cartbutton{
    padding-left: 600px;
}

.accbutton{
    padding-left: 170px;
}

.container{
    position: relative;
    object-fit: fill;
}

.spaceone{
    position: absolute;
    top: 160px;
    left: 30px;
}

.bookaplaydate{
    font-size: 48px;
    transform: skewX(-10deg);
    font-family: Lato;
}

.subparone {
    font-size: 20px;
    font-family: Lato;
    text-decoration: none;
    font-weight:normal;
}

.firstbutton{
    font-weight: bold;
    font-family: Lato;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    background-color: #735de7;
    color: white;
    padding: 10px 35px;
    border-color: #735de7;
}

.sectiontwo{
    font-family: Lato;
    font-style: italic;
    font-weight: 600;
    color: #ff9900;
    font-size: 30px;
    padding-left: 350px;
}

.containertwo{
    position: relative;
    object-fit: fill;
}

.spacetwo{
    position: absolute;
    top: 115px;
    right: 100px;
}

.findafriend{
    font-size: 45px;
    transform: skewX(-10deg);
    font-family: Lato;
}

.subpartwo{
    font-size: 20px;
    font-family: Lato;
    text-decoration: none;
    font-weight:normal;
}

.secondbutton{
    font-weight: bold;
    font-family: Lato;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    background-color: #ffd831;
    color: #303030;
    padding: 10px 70px;
    border-color: #ffd831;
}

.containerthree{
    position: relative;
    object-fit: fill;
}

.bglingkar{
    width: auto;
    height: auto;
    max-height: 1000px;
}

.spacethree{
    position: absolute;
    top: 35px;
    left: 30px;
}

.webworksfindafriend{
    padding-left: 75px;
    padding-bottom: 15px;
}

.webworksfindafriend td{
    padding-right: 40px;
}

.webworkslocation{
    padding-left: 220px;
    padding-bottom: 15px;
}

.webworkslocation td{
    padding-right: 40px;
}

.webworkslearnkit{
    padding-left: 75px;
    padding-bottom: 15px;
}

.webworkslearnkit td{
    padding-right: 40px;
}

.webworkscalender{
    padding-left: 220px;
    padding-bottom: 15px;
}

.webworkscalender td{
    padding-right: 40px;
}

.purplefindafriend{
    font-family: Lato;
    font-size: 27px;
    color: #735de7;
}

.normaltextfindafriend{
    font-family: Lato;
    font-size: 16px;
}

.purpleselectloc{
    font-family: Lato;
    font-size: 27px;
    color: #735de7;
}

.purplelearnkit{
    font-family: Lato;
    font-size: 27px;
    color: #735de7;
}

.normaltextlearnkit{
    font-family: Lato;
    font-size: 16px;
}

.purplebookadate{
    font-family: Lato;
    font-size: 27px;
    color: #735de7;
}

.normaltextbookadate{
    font-family: Lato;
    font-size: 16px;
}

.normaltextselectloc{
    font-family: Lato;
    font-size: 16px;
}

.howweb{
    font-weight: bold;
    font-family: Lato;
    font-style: italic;
    font-size: 48px;
}

.learningkit{
    background-color: #fecf03;
    padding-left: 50px;
    font-family: Lato;
}

.headerkit{
    font-family: Lato;
    font-size: 40px;
    font-weight: bolder;
    transform: skew(-10deg);
    padding-top: 10px;
}

.kitoptions{
    background-color: #fed935;
}

.findbutton{
    text-align: center;
    font-family:  Lato;
    background-color:  #735de7;
    border-color:  #735de7;
    color: white;
    border-radius: 12px;
    left: 47%;
    margin: 0;
    position: relative;
    padding: 10px 50px;
}

.kittable{
    padding-top: 10px;
    padding-left: 950px;
    border-spacing:  20px;
    font-family: Lato;
}

.kittable select{
    background-color: white;
    border-radius: 12px;
    padding: 5px;
}

.footer{
    background-color: #2ACCEE;
    font-family:  Inter;
    width: 100%;
    height: 100%;
}

.fouritems{
    border-spacing:  40px;
    text-align: center;
    font-family: Lato;
}

.boldedtext{
    font-weight: bold;
    font-size: 20px;
}

.containerdayandnight{
    max-width: 290px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
}

.firstrect{
    position: relative;
    padding-left: 60px;
}

.containermybody{
    max-width: 290px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
}

.secondrect{
    position: relative;
    padding-left: 10px;
}

.containerpekerjaan{
    max-width: 290px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
}

.thirdrect{
    position: relative;
    padding-left: 10px;
}

.containertamasya{
    max-width: 290px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
}

.fourthrect{
    position: relative;
    padding-left: 10px;
}

.beforefooter{
    position: relative;
    object-fit: fill;
    font-family: Lato;
}

.spacefour{
    position: absolute;
    top: 35px;
    left: 30px;
}

.bookingplaydatefooter{
    font-weight: bold;
    font-family: Lato;
    font-style: italic;
    font-size: 48px;
}

.purpletext{
    color: #735de7;
}

.threeicons{
    text-align: center;
    margin: auto;
    padding-left: 10%;
}

.threeiconstable td{
    padding-right: 200px;
    padding-left: 20px;
}

.highlight{
    padding-left: 100px;
    border-spacing: 15px;
    font-family: Inter;
}

.containerfour{
    position: relative;
    text-align: left;
    object-fit: fill;
    padding-right: 30px;
}

.containerfour img{
    border-radius: 60px;
}

.contentcontainerfour{
    position: absolute;
    color: white;
    background-color: rgba(115,93,231,0.8);
    border-radius: 53px;
    padding: 15px;
    left: 0px;
    top: 511px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 231px;
    padding-top: 25px;
}

.containerfive{
    position: relative;
    text-align: left;
    object-fit: fill;
}

.containerfive img{
    border-radius: 55px;
}

.contentcontainerfive{
    position: absolute;
    color: white;
    background-color: rgba(115,93,231,0.8);
    border-radius: 50px;
    padding: 15px;
    left: 0px;
    top: 493px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 250px;
    padding-top: 25px;
}

.bookinimage{
    border-radius: 12px;
    background-color: #ffd831;
    color: black;
    padding: 8px 50px;
    border-color: #ffd831;
}

.footerdiv{
    padding-top: 55px;
    padding-left: 100px;
}

.tablefooter{
    text-align: left;
    border-spacing: 10px;
    border-collapse: separate;
}

.tablefooter td{
    padding-right: 300px;
}

.seperatelogo{
    line-height: 80px;
}

.footerlogos td{
    padding-right: 35px;
}

.footerlogos{
    margin: left;
    padding-right: 300px;
}

.bottombar{
    padding-left: 95px;
    font-size: 13px;
}

.bottombar td{
    padding-right: 25px;
}