body{
    overflow-x: hidden;
}
.navbar{
    background: #f3d557;
    margin-top: -10px;
    margin-left: -10px;
    width: 101.2%;
}

.navbarcontent{
    font-family: Inter;
    width: 100%;
}

.navbarcontent td{
    padding-right: 20px;
    font-family: Lato;
}

.shoppingcart{
    padding-left: 150px;
}

.searchbox{
    padding-left: 150px;
}

.searchbox input{
    display: block;
    width: 100%;
}

.searchbox button{
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 45px;
    right: 352px;
}

.chat_icon{
    padding-left: 10px;
}

.navbar input[type=text]{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    width: 150%;
    height: 30px;
    font-family: Lato;
}

.usercircle{
    padding-left: 10px;
}

.sign_in_login_div{
    background-color: white;
    font-family: Lato;
    font-weight: normal;
    height: 100px;
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    position: absolute;
    left: 1415px;
    z-index: 1;
    top: 95px;
    display: none;  
}

.toggle{
    background: none;
    border: none;
    cursor: pointer;
}

.sign_in_login_div a{
    text-align: center;
    display: block;
}

.sectionone{
    padding-top: 40px;
}

.place_options{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}



.title1{
    font-family: Lato;
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.flipback{
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    left: 480px;
    top: 30px;
}

.back_label_top{
    position: relative;
    left: 490px;
    top: 30px;
    text-decoration: underline;
    font-weight: normal;
}

.main{
    display: flex;
    height: 950px;
}

.produk{
    width: 240px;
    height: 650px;
    border-radius: 50px;
    border: 5px solid #927DFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 60px;
}

.produk div{
    padding-bottom: 5px;
}

.produk button{
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
}

.produk button:hover{
    font-weight: bold;
}

.produk a{
    padding-left: 15px;
}

.sign_out_produk{
    margin-top: 20px;
    margin-left: 10px;
    display: block;
    color: red;
}

.profile{
 /*   flex-grow: 1; 
    border-style: solid;
    border-width: 2px 2px;
    border-color: black;
*/
    width: 1000px;
    margin-left: 90px; 
 /*   display: none;  */
}

.My_Profile_Picture_text{
    font-weight: bolder;
    font-size: 32px;
    font-family: Lato;
    padding-left: 5px;
}

.profile_title{
    display: flex;
    padding-bottom: 20px;
}

.children_Picture_text{
    font-weight: bolder;
    font-size: 32px;
    font-family: Lato;
    padding-left: 5px;
}

.My_Bio_text_children{
    flex-grow: 1;
    font-weight: bold;
    padding-top: 8px;
    font-size: 20px;
    padding-left: 250px;
}

.My_Profile_Picture_text1{
    width: 60%;
}

.My_Bio_text{
    flex-grow: 1;
    font-weight: bold;
    padding-top: 8px;
    font-size: 20px;
    padding-left: 250px;
}

.myprofile{
    display: flex;
    border-style: solid;
    border-color: #f3d557;
    background-color: #F3D557;
    border-radius: 40px;
    height: 230px;
}

.picture{
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.change_profile_myprofilepic{
    padding-left: 60px;
    font-weight: 400;
    font-size: 16px;
    font-family: Lato;
    margin-top: -30px;
    padding-bottom: 30px;
}

.chidren_profile{
    display: flex;
    border-color: black;
    border-color: #f3d557;
    background-color: #F3D557;
    border-radius: 40px;
    height: 400px;
}

.myprofile_right_child{
    padding-left: 80px;
    padding-right: 200px;
    flex-grow: 1;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
}

.myprofile_right_child div{
    padding-top: 7px;
}

.myprofile_left{
    width: 250px;
}
.myprofile_right{
    flex-grow: 1;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    padding-right: 200px;
}

.myprofile_right div{
    padding-top: 7px;
}

.underline_long{
    position: relative;
    left: 811px;
    top: 106px;
}

.underline_long2{
    position: relative;
    left: 590px;
    top: 140px;
}

.underline_long3{
    position: relative;
    left: 370px;
    top: 172px;
}

.underline_long4{
    position: relative;
    left: 150px;
    top: 208px;
}

.underline_long5{
    position: relative;
    left: -70px;
    top: 240px;
}

.underline_long6{
    position: relative;
    left: -290px;
    top: 273px;
}

.underline_long7{
    position: relative;
    left: 410px;
    top: 118px;
}

.underline_long8{
    position: relative;
    left: 190px;
    top: 153px;
}

.underline_long9{
    position: relative;
    left: -30px;
    top: 185px;
}

.underline_long10{
    position: relative;
    left: -250px;
    top: 220px;
}

.underline_long11{
    position: relative;
    left: 410px;
    top: 234px;
}

.underline_long12{
    position: relative;
    left: 190px;
    top: 268px;
}

.Name{
    display: flex;
    margin-top: 7px;
}

.Name_text{
    width: 60%;
}
.Name_ans{
    flex-grow: 1; 
    margin-left: -170px;
}
.Age{
    display: flex;
}
.Age_text{
    width: 60%;
}
.Age_ans{
    flex-grow: 1;
    margin-left: -170px;
}
.Date_of_birth{
    display: flex;
}
.Date_of_birth_text{
    width: 60%;
}
.Date_of_birth_ans{
    flex-grow: 1;
    margin-left: -170px;
}
.Email{
    display: flex;
}
.Email_text{
    width: 60%;
}
.Email_ans{
    flex-grow: 1;
    margin-left: -170px;
}
.Phone_number{
    display: flex;
}
.Phone_number_text{
    width: 60%;
}
.Phone_number_ans{
    flex-grow: 1;
    margin-left: -170px;
}
.Address{
    display: flex;
}
.Address_text{
    width: 60%;
}
.Address_ans{
    flex-grow: 1;
    margin-left: -170px;
}
.child_desc{
    border-style: solid;
    border-width: 2px 2px;
    border-color: black;
    margin-top: 30px;
    border-radius: 12px;
    background-color: white;
    height: 100px;
    padding-left: 15px;
}

.addchildren{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 30px;
}

.addchildren button{
    background: none;
    cursor: pointer;
    border: none;
}
.myfav{/*position*/
    display: none;
}





.trans_history_section{
    width: 1000px;
    margin-left: 90px; 
    display: none;   
}

.history_one{
    height: 197px;
    width: 850px;
    border: 5px solid #735DE7;
    border-radius: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.history_one img{
    border-radius: 50px;
    width: 212px;
    height: 196px;
    padding-right: 30px;
}

.hist_one_name_of_service{
    font-family: Lato;
    font-size: 46px;
    font-weight: bolder;
    font-style: italic;
    margin-top: -190px;
    margin-left: 250px;
    display: block;
    padding-bottom: 10px;
}

.hist_one_day{
    font-size: 24px;
    font-family: Lato;
    font-weight: normal;
    display: block;
    margin-left: 255px;
}

.hist_one_session_and_time{
    font-size: 24px;
    font-family: Lato;
    font-weight: normal;
    display: block;
    margin-left: 255px;
    margin-top: -10px;
}

.hist_one_place{
    font-size: 24px;
    font-family: Lato;
    font-weight: normal;
    display: block;
    margin-left: 255px;
    margin-top: -10px;
}

.hist_one_status{
    display: block;
    font-size: 24px;
    font-family: Lato;
    font-weight: bolder;
    font-style: italic;
    color: #735DE7;
    margin-left: 670px;
    margin-top: -150px;
}

.hist_one_review{
    cursor: pointer;
    padding: 10px 50px;
    border: 2px solid #FED935;
    background: none;
    border-radius: 25px;
    margin-left: 650px;
    margin-top: 20px;
    color: black;
}

.hist_one_review:hover{
    background-color: rgba(255,255,255,0.7);
}

.hist_one_book_again{
    cursor: pointer;
    padding: 10px 37px;
    border: 2px solid #FED935;
    background: none;
    border-radius: 25px;
    margin-left: 650px;
    margin-top: 20px;
    color: black;
}

.hist_one_book_again:hover{
    background-color: rgba(255,255,255,0.7);
}

.history_two{
    height: 197px;
    width: 850px;
    border: 5px solid #735DE7;
    border-radius: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 30px;
}

.history_two img{
    border-radius: 50px;
    width: 212px;
    height: 196px;
    padding-right: 30px;
}

.hist_two_name_of_service{
    font-family: Lato;
    font-size: 46px;
    font-weight: bolder;
    font-style: italic;
    margin-top: -190px;
    margin-left: 250px;
    display: block;
    padding-bottom: 10px;
}

.hist_two_day{
    font-size: 24px;
    font-family: Lato;
    font-weight: normal;
    display: block;
    margin-left: 255px;
}

.hist_two_session_and_time{
    font-size: 24px;
    font-family: Lato;
    font-weight: normal;
    display: block;
    margin-left: 255px;
    margin-top: -10px;
}

.hist_two_place{
    font-size: 24px;
    font-family: Lato;
    font-weight: normal;
    display: block;
    margin-left: 255px;
    margin-top: -10px;
}

.hist_two_status{
    display: block;
    font-size: 24px;
    font-family: Lato;
    font-weight: bolder;
    font-style: italic;
    color: #735DE7;
    margin-left: 670px;
    margin-top: -150px;
}

.hist_two_review{
    cursor: pointer;
    padding: 10px 50px;
    border: 2px solid #FED935;
    background: none;
    border-radius: 25px;
    margin-left: 650px;
    margin-top: 20px;
    color: black;
}

.hist_two_review:hover{
    background-color: rgba(255,255,255,0.7);
}

.hist_two_book_again{
    cursor: pointer;
    padding: 10px 37px;
    border: 2px solid #FED935;
    background: none;
    border-radius: 25px;
    margin-left: 650px;
    margin-top: 20px;
    color: black;
}

.hist_two_book_again:hover{
    background-color: rgba(255,255,255,0.7);
}



.friends_list{
    width: 1000px;
    margin-left: 90px; 
    display: none;
}

.friends_list input{
    height: 30px;
    width: 700px;
    padding: 5px 60px;
    border-radius: 40px;
    border: 2px solid black;
}

.friends_list button{
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 4px;
    right: 815px;
}

.friend_one, .friend_two, .friend_three, .friend_four, .friend_five, .friend_six{
    width: 825px;
    height: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    background-color: #d4d4d4;
}

.friend_one img, .friend_two img, .friend_three img, .friend_four img, .friend_five img, .friend_six img{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 5px;
}

.friend_list_top{
    font-size: 24px;
    font-weight: bold;
    font-family: Lato;
    margin-top: -55px;
    margin-left: 115px;
    display: block;
}

.friend_list_below{
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    display: block;
    margin-left: 115px;
}

.chat_icon_in_friend_list{
    position: relative;
    top: -45px;
    left: 750px;
}

.searchbox_friends_list{
    padding-bottom: 30px;
}





.footer{
    background-color: #2ACCEE;
    font-family:  Inter;
    width: 100%;
    height: 100%;
    margin-left: -10px;
    width: 101.2%;
}








.footerdiv{
    padding-top: 55px;
    padding-left: 100px;
}

.tablefooter{
    text-align: left;
    border-spacing: 10px;
    border-collapse: separate;
}

.tablefooter td{
    padding-right: 300px;
}

.seperatelogo{
    line-height: 80px;
}

.footerlogos td{
    padding-right: 35px;
}

.footerlogos{
    margin: left;
    padding-right: 300px;
}

.bottombar{
    padding-left: 95px;
    font-size: 13px;
}

.bottombar td{
    padding-right: 25px;
}
